<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>MyServletVer3</display-name>
	<context-param>
		<param-name>drv</param-name>
		<param-value>oracle.jdbc.driver.OracleDriver</param-value>
	</context-param>
	<context-param>
		<param-name>url</param-name>
		<param-value>jdbc:oracle:thin:@localhost:1521:chandra</param-value>
	</context-param>
	<servlet>
		<servlet-name>MORNING</servlet-name>
		<servlet-class>pack010welcome.GoodMorning</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MORNING</servlet-name>
		<url-pattern>/morning</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WELCOME</servlet-name>
		<servlet-class>pack010welcome.Welcome</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WELCOME</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TIME</servlet-name>
		<servlet-class>pack010welcome.WhatsTimeNow</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TIME</servlet-name>
		<url-pattern>/time</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HIT1</servlet-name>
		<servlet-class>pack020cycle.HitCount01</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HIT1</servlet-name>
		<url-pattern>/hit1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HIT2</servlet-name>
		<servlet-class>pack020cycle.HitCount02</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HIT2</servlet-name>
		<url-pattern>/hit2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FORMDATA</servlet-name>
		<servlet-class>pack030parameters.CollectParam</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FORMDATA</servlet-name>
		<url-pattern>/param</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>USERENTRY</servlet-name>
		<servlet-class>pack040user.UserEntry</servlet-class>
		<init-param>
			<param-name>user</param-name>
			<param-value>scott</param-value>
		</init-param>
		<init-param>
			<param-name>pass</param-name>
			<param-value>tiger</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>USERENTRY</servlet-name>
		<url-pattern>/entry</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LISTUSERS</servlet-name>
		<servlet-class>pack040user.ListUsers</servlet-class>
		<init-param>
			<param-name>user</param-name>
			<param-value>scott</param-value>
		</init-param>
		<init-param>
			<param-name>pass</param-name>
			<param-value>tiger</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>LISTUSERS</servlet-name>
		<url-pattern>/listusers</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LOGIN</servlet-name>
		<servlet-class>pack040user.Login</servlet-class>
		<init-param>
			<param-name>user</param-name>
			<param-value>scott</param-value>
		</init-param>
		<init-param>
			<param-name>pass</param-name>
			<param-value>tiger</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>LOGIN</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>REQUEST</servlet-name>
		<servlet-class>pack050request.Request</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>REQUEST</servlet-name>
		<url-pattern>/request</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>READPDF</servlet-name>
		<servlet-class>pack060response.ReadPDF</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>READPDF</servlet-name>
		<url-pattern>/pdf</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>READPPT</servlet-name>
		<servlet-class>pack060response.ReadPPT</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>READPPT</servlet-name>
		<url-pattern>/ppt</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>READWORD</servlet-name>
		<servlet-class>pack060response.ReadWord</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>READWORD</servlet-name>
		<url-pattern>/word</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ONEFORALL</servlet-name>
		<servlet-class>pack060response.OneForAll</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ONEFORALL</servlet-name>
		<url-pattern>/oneall</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GZIPPING</servlet-name>
		<servlet-class>pack070reqresp.Gzipping</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GZIPPING</servlet-name>
		<url-pattern>/zip</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EDITOR</servlet-name>
		<servlet-class>pack080reloading.EditorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EDITOR</servlet-name>
		<url-pattern>/editor</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>READER</servlet-name>
		<servlet-class>pack080reloading.ReaderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>READER</servlet-name>
		<url-pattern>/reader</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>REDIRECT</servlet-name>
		<servlet-class>pack090redirect.Redirect</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>REDIRECT</servlet-name>
		<url-pattern>/redirect</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SEARCHENGINE</servlet-name>
		<servlet-class>pack100search.SearchEngines</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SEARCHENGINE</servlet-name>
		<url-pattern>/engine</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MAINPAGE</servlet-name>
		<servlet-class>pack110dispatch.MainPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MAINPAGE</servlet-name>
		<url-pattern>/mainpage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ADVERT1</servlet-name>
		<servlet-class>pack110dispatch.Advertise1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ADVERT1</servlet-name>
		<url-pattern>/advertise1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ADVERT2</servlet-name>
		<servlet-class>pack110dispatch.Advertise2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ADVERT2</servlet-name>
		<url-pattern>/advertise2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ENTRYPAGE</servlet-name>
		<servlet-class>pack110dispatch.EntryPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ENTRYPAGE</servlet-name>
		<url-pattern>/entrypage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VALIDATION</servlet-name>
		<servlet-class>pack110dispatch.ValidationPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VALIDATION</servlet-name>
		<url-pattern>/validationpage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FINALRESP</servlet-name>
		<servlet-class>pack110dispatch.FinalResponse</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FINALRESP</servlet-name>
		<url-pattern>/finalresponse</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CREATE</servlet-name>
		<servlet-class>pack120cookietype.CreateCookies</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CREATE</servlet-name>
		<url-pattern>/createcoo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SHOW</servlet-name>
		<servlet-class>pack120cookietype.ShowCookies</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SHOW</servlet-name>
		<url-pattern>/showcoo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ENTRYFORMCOOKIE</servlet-name>
		<servlet-class>pack130usecookie.EntryForm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ENTRYFORMCOOKIE</servlet-name>
		<url-pattern>/entryform</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SETCOOKIES</servlet-name>
		<servlet-class>pack130usecookie.SetCookies</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SETCOOKIES</servlet-name>
		<url-pattern>/setcookies</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SETSCOPEVAR</servlet-name>
		<servlet-class>pack140sessions_and_scopes.SetScope</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SETSCOPEVAR</servlet-name>
		<url-pattern>/setscope</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PROPREQUEST</servlet-name>
		<servlet-class>pack140sessions_and_scopes.PropRequest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PROPREQUEST</servlet-name>
		<url-pattern>/proprequest</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PROPHTTP</servlet-name>
		<servlet-class>pack140sessions_and_scopes.PropHttp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PROPHTTP</servlet-name>
		<url-pattern>/prophttp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SESSLOGIN</servlet-name>
		<servlet-class>pack150session.SessLogin</servlet-class>
		<init-param>
			<param-name>user</param-name>
			<param-value>scott</param-value>
		</init-param>
		<init-param>
			<param-name>pass</param-name>
			<param-value>tiger</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SESSLOGIN</servlet-name>
		<url-pattern>/sesslogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ENTERITEMSLIST</servlet-name>
		<servlet-class>pack150session.EnterItemsList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ENTERITEMSLIST</servlet-name>
		<url-pattern>/enterlist</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ORDERFINAL</servlet-name>
		<servlet-class>pack150session.OrderFinal</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ORDERFINAL</servlet-name>
		<url-pattern>/ordfinal</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DISPUSER</servlet-name>
		<servlet-class>pack160listener.DisplayUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DISPUSER</servlet-name>
		<url-pattern>/dispuser</url-pattern>
	</servlet-mapping>
	
	<listener>
		<listener-class>pack160listener.UserTracker</listener-class>
	</listener>
</web-app>
